
.contacts-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    justify-content: space-between;
    position: relative;
    .contacts{
        width: 20%;
        .contacts__item{
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;
            margin-bottom: 30px;
            .contacts__icon-container{
                font-size: 20px;
                color: $violet;
            }
            .contacts__content{
                margin-left: 30px;
                .contacts__title{
                    color: black;
                    font-size: 20px;
                    font-weight: 400;
                    margin: 0;
                }
                .contacts__info{
                    font-size: 15px;
                    line-height: 1.6;
                    font-weight: 400;
                    margin: 0;
                }
                .contacts__link{
                    text-decoration: none;
                    color: #888888;
                }
            }
        }
    }
    .form{
        width: 60%;
        .contact-form{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            .contact-form__first-row{
                width: 45%;
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 30px;
                padding: 10px;
            }
            .contact-form__subject{
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 30px;
                padding: 10px;
            }
            .contact-form__textarea{
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 30px;
                max-height: 100px;
                padding: 10px;
            }
            .contact-form__submit{
                margin: 0 auto;
                padding: 15px 30px;
                border-radius: 25px;
                border: none;
                background-color: $violet;
                color: white;
                cursor: pointer;
            }
        }
        
    }
}